/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.modal-dialog {
    margin: 83px auto !important;
}

.modal-content {
    background-image: url(../images/noise.png);
    background-color: #f2f2f3;
}

#myModal .modal-dialog {
    width: 900px;
}

@media (max-width: 1580px) {
    .top-menu-holder.split {
        left: 1% !important;
        right: 1% !important;
        padding: 10px 0 4px 0 !important;
    }
}

#bee {
    background-image: url(/images/bee.gif);
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    top: -57px;
    left: 100px;
    width: 400px;
    height: 400px;
    transform: scale(0.2) scaleX(1);
    z-index: 1000;
}

/*#myModal {*/
/*width: 900px;*/
/*margin-top: -300px !important;*/
/*margin-left: -350px !important;*/
/*}*/

/*#myModal .modal-body {*/
/*max-height: 525px;*/
/*}*/